@import "tailwindcss";

@theme {
  --color-border: #e5e7eb;
  --color-input: #e5e7eb;
  --color-ring: #000000;
  --color-background: #ffffff;
  --color-foreground: #000000;

  --color-primary: #000000;
  --color-primary-foreground: #ffffff;
  
  --color-secondary: #f3f4f6;
  --color-secondary-foreground: #111827;
  
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  
  --color-muted: #f9fafb;
  --color-muted-foreground: #6b7280;
  
  --color-accent: #f3f4f6;
  --color-accent-foreground: #111827;
  
  --color-popover: #ffffff;
  --color-popover-foreground: #000000;
  
  --color-card: #ffffff;
  --color-card-foreground: #000000;
  
  --radius-lg: 1rem;
  --radius-md: 0.75rem;
  --radius-sm: 0.5rem;
}

@layer base {
  * {
    border-color: var(--color-border);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}
